/* Bloque principal del banner */
.banner {
    width: 100%;
    height: 600px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animación de cambio de imágenes de fondo */
@keyframes banner {
    0%, 20% {
        background-image: url(https://us.123rf.com/450wm/domenicogelermo/domenicogelermo1211/domenicogelermo121100086/16410645-hermosas-piernas-femeninas-delgadas-.jpg?ver=6);
    }
    25%, 45% {
        background-image: url(https://cdn.pixabay.com/photo/2014/03/11/22/56/wellness-285587_960_720.jpg);
    }
    50%, 70% {
        background-image: url(https://cdn.pixabay.com/photo/2015/01/05/22/28/wellness-589770_960_720.jpg);
    }
    75%, 100% {
        background-image: url(https://images.unsplash.com/photo-1616394584738-fc6e612e71b9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    }
}

/* Elemento capa superpuesta con filtro */
.banner__capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

/* Información dentro del banner */
.banner__info {
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

/* Título dentro del banner */
.banner__title {
    color: #fff;
    font-size: 80px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Descripción del banner */
.banner__description {
    color: #c7c7c7;
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 20px;
}

/* Botón de acción en el banner */
.banner__btn {
    color: #fff;
    text-decoration: none;
    background: #ed2560;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 80px;
}
