/* General */
body {
  font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
  background-color: #ff4d94;
}

.header__top {
  background-color: #e19b80;
}

.header__nav {
  margin: 0;
}

.header__nav-item {
  list-style: none;
}

.header__nav-link {
  color: black;
}

.header__navbar {
  background-color: #ff4d94;
}

.header__logo {
  border: 2px solid #ed2560;
  width: 255px;
  height: 150px;
}

.header__title {
  text-align: center;
  position: relative;
  font-size: 30px;
}

.header__circle {
  width: 30px;
  height: 30px;
  background-color: #ed2560;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  left: 
